{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-lg">
  <div class="table-responsive-lg">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2>CMMC Controls</h2></div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                <form class="form-inline" onsubmit="return false">
                  <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                      <label class="mr-sm-2" style="color: rgba(255, 255, 255, 0.6);" for="inlineFormCustomSelect">CMMC Level</label>
                      <select class="custom-select mr-sm-2" id="cmmc-level-select">
                        <option style="color: #000;" selected>All</option>
                        <option style="color: #000;" value="1">1</option>
                        <option style="color: #000;" value="2">2</option>
                        <option style="color: #000;" value="3">3</option>
                        <option style="color: #000;" value="4">4</option>
                        <option style="color: #000;" value="5">5</option>
                      </select>
                    </div>
                    <div class="col-auto my-1">
                      <label class="mr-sm-2" style="color: rgba(255, 255, 255, 0.6);" for="inlineFormCustomSelect">CMMC Family</label>
                      <select class="custom-select mr-sm-2" id="cmmc-family-select">
                        <option style="color: #000;" selected>All</option>
                        <option style="color: #000;" value="Access Control (AC)">Access Control (AC)</option>
                        <option style="color: #000;" value="Identification and Authentication (IDA)">Identification and Authentication (IDA)</option>
                        <option style="color: #000;" value="Media Protection (MP)">Media Protection (MP)</option>
                        <option style="color: #000;" value="Physical Protection (PP)">Physical Protection (PP)</option>
                        <option style="color: #000;" value="System and Communications Protection (SCP)">System and Communications Protection (SCP)</option>
                        <option style="color: #000;" value="System and Information Integrity (SII)">System and Information Integrity (SII)</option>
                        <option style="color: #000;" value="Awareness and Training (AT)">Awareness and Training (AT)</option>
                        <option style="color: #000;" value="Audit and Accountability (AA)">Audit and Accountability (AA)</option>
                        <option style="color: #000;" value="Security Assessment (SAS)">Security Assessment (SAS)</option>
                        <option style="color: #000;" value="Configuration Management (CM)">Configuration Management (CM)</option>
                        <option style="color: #000;" value="Incident Response (IA)">Incident Response (IA)</option>
                        <option style="color: #000;" value=">Maintenance (MA)">Maintenance (MA)</option>
                        <option style="color: #000;" value="Personnel Security (PS)">Personnel Security (PS)</option>
                        <option style="color: #000;" value="Recovery (RE)">Recovery (RE)</option>
                        <option style="color: #000;" value="Risk Management (RM)">Risk Management (RM)</option>
                        <option style="color: #000;" value="Asset Management (AM)">Asset Management (AM)</option>
                        <option style="color: #000;" value="Situational Awareness (SA)">Situational Awareness (SA)</option>
                      </select>
                    </div>
                    <div class="col-auto my-1">
                      <label class="mr-sm-2" style="color: rgba(255, 255, 255, 0.6);" for="inlineFormCustomSelect">CMMC Compliance</label>
                      <select class="custom-select mr-sm-2" id="cmmc-compliance-select">
                        <option style="color: #000;" selected>All</option>
                        <option style="color: #000;" value="Non-Compliant">Non-Compliant</option>
                        <option style="color: #000;" value="Compliant">Compliant</option>
                        <option style="color: #000;" value="Non-Applicable">Non-Applicable</option>
                      </select>
                    </div>
                    <div class="col-auto my-1 text-right">
                      <button type="submit" class="btn btn-primary" id="filterbtn">Filter</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th>Control ID <i class="fa fa-sort"></i></th>
                      <th>Family <i class="fa fa-sort"></i></th>
                      <th>Description</th>
                      <th>Level <i class="fa fa-sort"></i></th>
                      <th>Status <i class="fa fa-sort"></i></th>
                      <th>Notes</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody id="tbody-container">

              </tbody>
            </table>
        </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-body" class="modal-body">
          <form id="update-form">

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id='close'class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    var activeItem = null;
    var popupWindow = null;

    // const edit = document.getElementsByClassName('edit');
    const modal_container = document.getElementById('modal-container-popup');
    
    function removeItemOnce(arr, value) {
      var index = arr.indexOf(value);
      if (index > -1) {
        arr.splice(index, 1);
      }
      return arr;
    }

    buildTable()

    function createPopup(item){
      var title_container = document.getElementById('exampleModalCenterTitle')
      title_container.innerHTML = ''

      var container = document.getElementById('update-form')
      container.innerHTML = ''

      var url = `http://127.0.0.1:8000/api/control-view/${item}/`

      fetch(url)
      .then((resp) => resp.json())
      .then(function(data){
        console.log('Data', data)
        
        var list = data

        title_container.innerHTML += list.control_id

        var choices = ["Non-Compliant", "Compliant", "Non-Applicable"];
        var choice = list.status

        choices = removeItemOnce(choices, choice)

        var code = `
          <div class="form-group row">
            <label for="controlStatus" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
              <select id="controlStatus" class="form-control">
                <option selected>${list.status}</option>
                <option>${choices[0]}</option>
                <option>${choices[1]}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="notes" class="col-sm-2 col-form-label">Notes</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="notes" cols="80" value="${list.notes}">
            </div>
          </div>
        `
        container.innerHTML += code

      })

      modal_container.classList.add('show');
      activeItem = list
    }

    function buildTable(){
      var container = document.getElementById('tbody-container')
      container.innerHTML = ''

      var url = 'http://127.0.0.1:8000/api/controls-overview/'

      fetch(url)
      .then((resp) => resp.json())
      .then(function(data){
        console.log('Data:', data)

        var list = data
        for(var i in list){

          var item = `
            <tr>
              <td>${list[i].control_id}</td>
              <td>${list[i].family}</td>
              <td>${list[i].description}</td>
              <td>${list[i].level}</td>
              <td>${list[i].status}</td>
              <td>${list[i].notes}</td>
              <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
            </tr>
          `
          container.innerHTML += item
          var last = list[i].control_id

        }

        for (var i in list){
          var editBtn = document.getElementsByClassName('edit')[i]

          editBtn.addEventListener('click', (function(item){
            return function(){
              editItem(item)
            }
          })(list[i].control_id))
        }
      })
    }

    function editItem(item){
      console.log('Item Clicked', item);
      activeItem = item
      createPopup(activeItem);
    }


    var submit = document.getElementById('submit');
    var form = document.getElementById('update-form');

    submit.addEventListener('click', () => {
      var itemName = document.getElementById('exampleModalCenterTitle')
      name_control_id = itemName.innerHTML

      var url = `http://127.0.0.1:8000/api/control-update/${name_control_id}/`

      var status = document.getElementById('controlStatus').value;
      var notes = document.getElementById('notes').value;
      var filterbtn = document.getElementById('filterbtn');

      var level_filter = document.getElementById('cmmc-level-select');
      level_filter = level_filter.options[level_filter.selectedIndex].value

      var family_filter = document.getElementById('cmmc-family-select')
      family_filter = family_filter.options[family_filter.selectedIndex].value

      var compliance_filter = document.getElementById('cmmc-compliance-select')
      compliance_filter = compliance_filter.options[compliance_filter.selectedIndex].value

      fetch(url, {
        method: 'POST',
        headers:{
          'Content-type':'application/json',
          'X-CSRFToken':csrftoken,
        },
        body:JSON.stringify({'status': status, 'notes': notes})
      }).then(function(response){
        if (level_filter == 'All' && family_filter == 'All' && compliance_filter == 'All'){
          buildTable()
          console.log("building table inside POST")
        } else {
          filterbtn.click();
          console.log("Building filer table inside POST")
        }
      })

      document.getElementById('close').click();
    });

    const save = document.getElementById('save');

    // save.addEventListener('click', () => {
    //   modal_container.classList.remove('show');
    // });

    const filter = document.getElementById('filterbtn');

    filter.addEventListener('click', () => {
      var container = document.getElementById('tbody-container')
      container.innerHTML = ''

      var url = 'http://127.0.0.1:8000/api/controls-overview/'

      var level_filter = document.getElementById('cmmc-level-select');
      level_filter = level_filter.options[level_filter.selectedIndex].value

      var family_filter = document.getElementById('cmmc-family-select')
      family_filter = family_filter.options[family_filter.selectedIndex].value

      var compliance_filter = document.getElementById('cmmc-compliance-select')
      compliance_filter = compliance_filter.options[compliance_filter.selectedIndex].value


      var new_list = []

      fetch(url)
      .then((resp) => resp.json())
      .then(function(data){
        console.log('Data:', data)

        var list = data
        for(var i in list){

          if (level_filter == 'All' && family_filter == 'All' && compliance_filter == 'All'){
            console.log("condition 1")
            var item = `
            <tr>
              <td>${list[i].control_id}</td>
              <td>${list[i].family}</td>
              <td>${list[i].description}</td>
              <td>${list[i].level}</td>
              <td>${list[i].status}</td>
              <td>${list[i].notes}</td>
              <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
            </tr>`
          } else if (level_filter == 'All' && family_filter == 'All' && compliance_filter != 'All'){
            console.log("condition 2")
            if (list[i].status == compliance_filter){
              var item = `
              <tr>
                <td>${list[i].control_id}</td>
                <td>${list[i].family}</td>
                <td>${list[i].description}</td>
                <td>${list[i].level}</td>
                <td>${list[i].status}</td>
                <td>${list[i].notes}</td>
                <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
              </tr>
              `
            } else {
              continue;
            }

          } else if(level_filter == 'All' && family_filter != 'All' && compliance_filter == 'All'){
            console.log("condition 3")
            if (list[i].family == family_filter){
              var item = `
              <tr>
                <td>${list[i].control_id}</td>
                <td>${list[i].family}</td>
                <td>${list[i].description}</td>
                <td>${list[i].level}</td>
                <td>${list[i].status}</td>
                <td>${list[i].notes}</td>
                <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
              </tr>
              `
            } else {
              continue;
            }

          } else if(level_filter == 'All' && family_filter != 'All' && compliance_filter != 'All'){
            console.log("condition 4")
            if (list[i].family == family_filter && list[i].status == compliance_filter){
              var item = `
              <tr>
                <td>${list[i].control_id}</td>
                <td>${list[i].family}</td>
                <td>${list[i].description}</td>
                <td>${list[i].level}</td>
                <td>${list[i].status}</td>
                <td>${list[i].notes}</td>
                <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
              </tr>
              `
            } else {
              continue;
            }
          } else if (level_filter != 'All' && family_filter == 'All' && compliance_filter == 'All'){
            console.log("condition 5")
            console.log("List[i]: ",list[i].level, level_filter)
            if (list[i].level == level_filter){
              var item = `
              <tr>
                <td>${list[i].control_id}</td>
                <td>${list[i].family}</td>
                <td>${list[i].description}</td>
                <td>${list[i].level}</td>
                <td>${list[i].status}</td>
                <td>${list[i].notes}</td>
                <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
              </tr>
              `
            } else {
              console.log("condition 5 else")
              continue;
            }
          } else if(level_filter != 'All' && family_filter == 'All' && compliance_filter != 'All'){
            console.log("condition 6")
            if (list[i].level == level_filter && list[i].status == compliance_filter){
              var item = `
              <tr>
                <td>${list[i].control_id}</td>
                <td>${list[i].family}</td>
                <td>${list[i].description}</td>
                <td>${list[i].level}</td>
                <td>${list[i].status}</td>
                <td>${list[i].notes}</td>
                <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
              </tr>
              `
            } else {
              continue;
            }
          } else if(level_filter != 'All' && family_filter != 'All' && compliance_filter == 'All'){
            console.log("condition 7")
            if (list[i].level == level_filter && list[i].family == family_filter){
              var item = `
              <tr>
                <td>${list[i].control_id}</td>
                <td>${list[i].family}</td>
                <td>${list[i].description}</td>
                <td>${list[i].level}</td>
                <td>${list[i].status}</td>
                <td>${list[i].notes}</td>
                <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
              </tr>
              `
            } else {
              continue;
            }
          } else if(level_filter != 'All' && family_filter != 'All' && compliance_filter != 'All'){
            console.log("condition 8")
            if (list[i].level == level_filter && list[i].status == compliance_filter && list[i].family == family_filter){
              var item = `
              <tr>
                <td>${list[i].control_id}</td>
                <td>${list[i].family}</td>
                <td>${list[i].description}</td>
                <td>${list[i].level}</td>
                <td>${list[i].status}</td>
                <td>${list[i].notes}</td>
                <td><button type="button"class="btn btn-sm btn-outline-info edit" data-toggle="modal" data-target="#exampleModalCenter">Edit </button></td>
              </tr>
              `
            } else {
              continue;
            }
          } else {
            console.log("Uh oh")
          }

          container.innerHTML += item
          // new_list.add(i)
          console.log(typeof(list))

          if (list == new_list){
            console.log("list == new_list")
          } else{
            console.log("List != new_list")
          }

          var last = list[i].control_id

        }

        for (var i in list){
          var editBtn = document.getElementsByClassName('edit')[i]

          editBtn.addEventListener('click', (function(item){
            return function(){
              editItem(item)
            }
          })(list[i].control_id))
        }
      })
    });



  </script>

{% endblock javascripts %}