{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2>CMMC Controls</h2></div>
                  <div class="col-sm-4">
                      <div class="search-box">
                          <i class="material-icons">&#xE8B6;</i>
                          <input type="text" class="form-control" placeholder="Search&hellip;">
                      </div>
                  </div>
              </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th>Control ID <i class="fa fa-sort"></i></th>
                      <th>Family <i class="fa fa-sort"></i></th>
                      <th>Description</th>
                      <th>Level <i class="fa fa-sort"></i></th>
                      <th>Status <i class="fa fa-sort"></i></th>
                      <th>Notes</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody id="tbody-container">
                <!-- {% for control in controls %}
                <tr>
                  <td> {{ control.control_id }}</td>
                  <td> {{ control.family }}</td>
                  <td> {{ control.description }}</td>
                  <td> {{ control.level }}</td>
                  <td> {{ control.status }}</td>
                  <td> {{ control.notes }}</td>
                  <td>
                    <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                  </td>
                </tr>
                {% endfor %} -->
              </tbody>
            </table>
        </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    buildTable()

    function buildTable(){
      var container = document.getElementById('tbody-container')
      container.innerHTML = ''

      var url = 'http://127.0.0.1:8000/api/controls-overview/'

      fetch(url)
      .then((resp) => resp.json())
      .then(function(data){
        console.log('Data:', data)

        var list = data
        for(var i in list){

          var item = `
            <tr>
              <td>${list[i].control_id}</td>
              <td>${list[i].family}</td>
              <td>${list[i].description}</td>
              <td>${list[i].level}</td>
              <td>${list[i].status}</td>
              <td>${list[i].notes}</td>
              <td><button class="btn btn-sm btn-outline-info edit">Edit </button></td>
            </tr>
          `

          container.innerHTML += item

        }
      })
    }



  </script>

{% endblock javascripts %}