

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://appseed.us/admin-dashboards/django-dashboard-black" class="nav-link">
                CMMC Compliance Tracker
              </a>
            </li>
          </ul>
          <div class="copyright">
            Project by Josh and Caden</a>
          </div>
        </div>
      </footer>
      
